[2016-01-20 00:36] testerez opened #9 "Responsive"
Hi,
I'm using this component on the right column of a responsive app.
Obviously, in mobile mode, I won't have columns anymore and would like to disable the sticky behaviour.
How do you suggest to handle the common case?

[2016-01-20 01:02] testerez commented on #9
Right now, I do it by css:
[code]

[2016-01-21 02:02] hankhsiao commented on #9
You can disable sticky by passing "enabled: false" and hide it with CSS.

[2016-01-21 02:05] hankhsiao opened #11 "The width of Sticky may not be consistent"
The width of Sticky with sticky status and with non-sticky status may have 1px difference.

https://github.com/yahoo/react-stickynode/pull/10

[2016-02-25 01:00] #11 closed

[2016-02-25 18:23] hankhsiao commented on #9
@testerez, did my suggestion help you?

[2016-02-25 19:29] testerez commented on #9
@hankhsiao it would have needed to keep my JS in sync with my CSS media queries. So I sticked to the [CSS solution](https://github.com/yahoo/react-stickynode/issues/9#issuecomment-173039715)

[2016-03-16 15:07] fender opened #21 "Only a ReactOwner can have refs"
On older versions of React, we get this error:
[code]

Upgrading to React 0.14.7 fixes this. It looks like your module requires the latest React. Perhaps you could either state that in the README or drop the minimum version required?

[2016-03-16 15:26] fender opened #22 "Add activeClass prop"
We've switched over to using this module from `react-sticky` as we found that unreliable. However, one key feature missing for us here is toggling a class on the element when the sticky is active.

[2016-03-16 15:38] fender commented on #22
I'm going to put together a PR for this, looks fairly trivial.

[2016-03-17 05:51] #9 closed

[2016-03-17 18:27] #22 closed

[2016-03-17 21:33] kaesonho commented on #21
hi @fender, thanks for the update,
could you provide some more details? like how do you get this error, is that in the unit test or a real page?

[2016-03-20 20:11] fender commented on #21
@kaesonho On a real page where my app already included ReactJS version 0.14.2.

[2016-03-25 07:28] mmmeff opened #26 "Doesn't work on scrolling containers other than <body>"

[2016-03-25 08:08] mmmeff commented on #26
After some light investigation, I've determined that the issue lies with the usage of the `subscribe-ui-events` library, or rather a limitation of that library.

[2016-03-27 06:51] hankhsiao commented on #26
You mean you use it in a DIV with overflow:scroll?

[2016-03-27 06:52] mmmeff commented on #26
Exactly

[2016-03-27 06:56] hankhsiao commented on #21
It may be because there is a component or a DIV wrapped by Sticky that has `ref` as an attribute. If it is the case, then yes, you need to upgrade to React 0.14

[2016-04-01 14:38] fender commented on #21
@hankhsiao This just happened again. To re-create this, you can add these lines to your apps `package.json`:
[code]

Then, when running `npm install` you end up getting both react 0.14.7 and 0.14.8 included as react-stickynode is trying to install the latest react-addons-shallow-compare as a dependency. If we move that to peerDependencies instead, this should be fixed. Note that I use node 0.12.

[2016-04-01 15:27] robcolburn commented on #21
Try adding `react-addons-shallow-compare`,  the 14.7 version, as our dependency. Wipe node_modules, and reinstall.

---

Peer dependencies are tricky. They're ignored in npm3, which means npm3 users may not get the addon. Best advice for library is to not use the add on modules.

[2016-04-01 15:28] robcolburn commented on #21
Npm, even npm2, should sees that we already have the module that react-sticky depends on

[2016-04-01 17:13] fender commented on #21
Thanks @robcolburn. Adding `"react-addons-shallow-compare": "0.14.7"` to my `package.json` fixed it. Closing!

[2016-04-01 17:13] #21 closed

[2016-05-11 09:44] osym-dh opened #37 "Add outerStyle.width to prevent wrapper collapsing"
Hey, guys!
I wonder whether it's possible to pass sticky width to the outerStyle as it done [here](https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L355)? That would prevent wrapper width flickering in case sticky width is larger than wrapper width, i.e. wrapper is stretched by sticky in original state.

[2016-05-14 05:53] origsun commented on #26
+1

checkout [subscribe-ui-events/src/mainEventConnectors.js](https://github.com/yahoo/subscribe-ui-event/blob/af423edad48cc9cee13b732f59eaa9f1dc8bc0ea/src/mainEventConnectors.js)
`subscribe-ui-events` only listens to scroll events on `window`.

When you set
- `html, body` to `{ overflow: hidden}`
- `#container` to `{ height: 100%; width: 100%; position: absolute; overflow: auto}`,

scrolling insi

[2016-05-24 21:16] src-code opened #39 "Deprecate use of is-equal-shallow"
`is-equal-shallow` currently doesn't handle complex properties well, returning `false` if such a prop is encountered, even if the property is the referentially the same object.  Other implementations (such as fbjs's `shallowEqual()`) correctly do a `===` comparison of prop values to correctly recognize when a complex property is referentially equal.

Using `is-equal-shallow` results in `shouldComp

[2016-05-24 21:16] src-code commented on #39
Carried over from pr #38

[2016-05-29 01:39] juhaelee commented on #26
Can [subscribe v1.0.7](https://github.com/yahoo/subscribe-ui-event/releases/tag/v1.0.7) listen to scroll events on specific targets? @hankhsiao

[2016-06-08 22:09] juhaelee commented on #26
@mmmeff Have you been able to find a sticky solution that works with non-body elements?

[2016-06-08 22:11] mmmeff commented on #26
@juhaelee Nope

[2016-06-15 15:20] oyeanuj opened #43 "Demo link?"
Hi folks! I was trying to understand different sticky components and couldn't find an example/demo link here. Would it be possible to add one? I'm sure it will help a lot of folks who are interested in such a component! Thank you!

[2016-06-22 20:13] evgenosiptsov opened #45 "Sticky.js:387 Uncaught TypeError: Cannot read property 'scrollTop' of null"
Hi!
![screenshot 2016-06-22 23 08 10](https://cloud.githubusercontent.com/assets/17506504/16281895/0b03eb48-38cf-11e6-81f9-1fb0c0aee405.png)
![screenshot 2016-06-22 23 11 14](https://cloud.githubusercontent.com/assets/17506504/16281899/0fe643f4-38cf-11e6-854a-a5d880e96269.png)

Because document.windows.body is NULL in chrome - http://cl.ly/3g233n0I0q04

[2016-06-22 20:16] evgenosiptsov commented on #45
You should use somesing else
http://stackoverflow.com/questions/9916747/why-is-document-body-null-in-my-javascript

[2016-06-28 19:17] src-code commented on #45
@evgenosiptsov The code is referencing `document.body`, not `document.window.body` so not sure why body would be null for you.  I'm unable to reproduce when running the functional tests.

[2016-06-28 19:19] src-code commented on #43
Hi @oyeanuj - there's no demo link at this time, though you can see a demo by installing the project and running `grunt functional-debug`.  We could auto-publish this demo to gh-pages at some point though, which I think would be worthwhile to do...

[2016-06-28 20:05] oyeanuj commented on #43
@src-code Thanks! +1 for the auto-publish to gh-pages. I think that would be great for anyone perusing through to take a look!

[2016-06-29 18:45] 100kV opened #46 "Sticky should sticky to another sticky"
https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L292-L294

If the `top` property refers to another `Sticky` instance, it should consider the offset of that `Sticky` instance together with its height.

@hankhsiao

[2016-06-29 20:34] 100kV commented on #46
Hi @hankhsiao. I was wondering what you think would be the best way to handle nested `Sticky` instances. Probably instead of only setting the `top` value to be `offsetHeight` of the `topTarget`, it would also add the `style.top` value if it is also stickied.

[2016-06-29 20:36] hankhsiao commented on #46
Hi thank you for discussing with me. Let me get back to you lately. I am in
a class.

On Wed, Jun 29, 2016, 1:34 PM 100kV <notifications@github.com> wrote:

[2016-07-02 19:59] evgenosiptsov commented on #45
Yes, you right, it's my mistake in description. All the matter document.body is null in Chrome

[2016-07-06 19:00] mmmeff commented on #26
@juhaelee taking a stab at this right now, look for a PR later today @hankhsiao @src-code

[2016-07-06 20:23] 100kV commented on #46
Hi @hankhsiao. I just wanted to follow up. Is it possible to have this supported? Thanks.

[2016-07-06 20:28] hankhsiao commented on #46
I don't understand this scenario. Say A sticky contains B sticky, when A stick to the screen, then B cannot move anymore. So why do you want to set B as sticky, because it cannot move anyway.

[2016-07-06 20:33] hankhsiao commented on #37
Outer wrapper is a DIV, it's width is always 100% to its parent. If you want to set its width, you can just set the width of its parent.

[2016-07-06 20:52] hankhsiao commented on #26
Sticky is not designed in this case. It needs fundamental changes.

There are some fundamental differences. For example, to handle sticking to the viewport with high performance, we use `position: fixed` instead of using `position: absolute` and changing `top` all the time when scrolling (I know some sticky components do that). In this case, `fixed` won't be correct in a scrollable DIV.

Every com

[2016-07-06 20:54] 100kV commented on #46
Hi @hankhsiao. The scenario I'm indicating does not necessarily refer to Sticky A containing Sticky B. Consider this scenario:

1. Sticky A is a universal header visible across all pages of the site.
2. Sticky B is a secondary header visible to only 1 page of the site.
3. Sticky C is a tertiary header visible in the same page as Sticky B.
4. Sticky A, B, and C have the same height of say `40px`.

[2016-07-06 20:54] mmmeff commented on #26
@hankhsiao You're right. Ditching my fork for the time being - only had a long lunch break's worth of time to work on this and quickly ran up against that wall. Bummer!

[2016-07-06 20:54] #26 closed

[2016-07-06 21:41] hankhsiao commented on #46
Got it, we do calculate it's height https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L90 but not offset. Would you mind changing that line a bit and sending PR to us?

[2016-07-12 23:39] pentateu opened #47 "Stick to the bottom of the view port?"
Hi,

I'm currently trying to figure it out how to stick to the bottom of the page/viewport.

Is that possible?

Cheers

[2016-07-13 02:23] hankhsiao commented on #47
That is possible, but why not you can just make it fixed? Can you talk
about your scenario?

On Tue, Jul 12, 2016, 4:39 PM Rafael Almeida <notifications@github.com>
wrote:

[2016-07-15 15:25] hankhsiao commented on #45
It almost becomes a standard to put your script with async or below the
body, because it will block rendering without doing any. Previously, many
JS libraries will listen to onLoad event and then initialize their
component, but it will take user much longer to use it.

In other words, if you don't have particular requirement, I strongly
recommend you to do either one approach. Here is a better exp

[2016-07-15 22:28] src-code commented on #45
While what @hankhsiao said is true, I think it's also true that there's no good reason for these globals to be defined outside of `componentDidMount()` (I suppose it was done to ensure they'd only be initialized once per page load and shared for all instances of the component, but we can do that from within (`componentDidMount()` too.)  I'd suggest we move them into that function, and that should

[2016-07-15 23:07] src-code commented on #45
Fixed in PR #48

[2016-07-15 23:07] #45 closed

[2016-07-20 23:21] 100kV commented on #46
Hi @hankhsiao . I recently had bandwidth to work on this. Here is the diff of a fix I had in mind:

[code]

The above change seems to work correctly, aside for the case where I scroll down and the target sticky is not fixed yet. It works correctly when I scroll up. It also works correctly when I scroll down past the point where the target sticky is fixed. I think I am missing some information. Als

[2016-07-22 06:03] hankhsiao commented on #46
The `Element.getBoundingClientRect()` method returns the size of an element and its position relative to the viewport. That means, `rect.bottom` could be negative when you scroll to the middle of the page.

https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect

[2016-07-22 16:22] timothyarmes opened #50 "Elastic scrolling breaks sticky"
Hi,

Stickies are working perfectly for me on Chrome and Firefox.

On Safari it seems that the elastic scrolling breaks the Sticky. Once I reach the top/bottom and see the elastic effect I have to scroll twice in the opposite direction to get it scrolling again.

This is on Safari for Mac.

Tim

[2016-07-22 17:12] hankhsiao commented on #50
Thank you, I will test it later. But we should have test on safari, if you
can provide me more information or the testing page, that will be so
useful. Thank you for reporting.

On Fri, Jul 22, 2016, 9:22 AM Timothy Armes <notifications@github.com>
wrote:

[2016-08-05 05:26] krvital opened #52 "Empty package in npm"
I'm trying to install react-stickynode and gets package with no dist folder. [screenshot](https://yadi.sk/i/Dds08WzQtw8Pq)

[2016-08-05 08:41] osym-dh commented on #52
The same issue. Reproduced after switching to v1.2.0

[2016-08-05 09:03] vadimgoncharov commented on #50
@timothyarmes @hankhsiao guys, do you have any movements on this issue?

[2016-08-05 11:16] vadimgoncharov commented on #50
If we use `enableTransforms={false}`, everything works fine. I think it's may related to `transform` property.

[2016-08-05 17:14] #52 closed

[2016-08-05 17:16] redonkulus commented on #52
@krvital @osym-dh fixed in version 1.2.1

[2016-08-05 17:17] #39 closed

[2016-08-05 17:22] nason commented on #52
Confirmed, it's all good now. Thanks @redonkulus!

[2016-08-10 08:54] vincent1988 opened #54 "1.2.0 didn't have dist"
1.2.0 didn't have dist

[2016-08-11 00:50] ha404 opened #55 "Stick to `parentNode`"
Can there be an option for this to stick to the parent element? I would find it extremely convenient if I didn't have to specify the `bottomBoundary` manually.

[2016-08-11 00:55] ha404 opened #56 "Target element disregards `bottomBoundary` padding"
Perhaps there should be an option to account for the `bottomBoundary` element's padding?

![screen shot 2016-08-10 at 5 54 19 pm](https://cloud.githubusercontent.com/assets/567126/17576033/a456d060-5f23-11e6-8966-f6538401facf.png)

[2016-08-15 09:40] vincent1988 commented on #54
thk，1.2.1 is ok

[2016-08-15 14:43] #54 closed

[2016-08-15 15:29] hankhsiao commented on #56
You may see the problem as well, which is it's too many cases we want the
bottom target to be. Maybe what we can do is to introduce alignment, so you
can assign boundary target to your parent but align to its bottom.

On Wed, Aug 10, 2016, 5:55 PM Chris Ha <notifications@github.com> wrote:

[2016-09-26 11:57] emwee commented on #55
👍 +1

[2016-11-20 09:56] danielberndt commented on #26
In case you're curious what a solution could look like, have a look at this:
https://github.com/danielberndt/react-sticky-box/blob/master/src/index.js

This component is certainly not as feature rich as this one here, but at least it's supposed to be working in all types of scroll containers. And it's not that much more additional code. So feel free to take whatever parts are helpful to you :)

[2016-11-23 15:01] raoulus commented on #46
I would love to get this functionality.

@100kV @hankhsiao
Couldn't we just add the offset to height?
[code]

Thoughts?

[2016-11-30 06:35] gavinhekogan commented on #47
@pentateu Assign a class name to activeClass props
e.g.
[code]
Ideally shouldn't have to use important on css, or you can modify lib to accept props like stickToBottom={true}, then remove `top`, and add `bottom: 0;`

[2016-12-15 14:09] mariomc commented on #56
Are you using box-sizing: border-box ? That makes it so the padding counts for the element's height. Try it out

[2017-01-11 12:09] soutar opened #58 "Providing a selector AND an offset for top prop"
Would you consider adding support for specifying a selector **and** an offset? I think it would be useful for declaring an amount of "distance" that a sticky element should keep from the selected element.

The change could be non-breaking and could looking something like:

[code]

or

[code]

If you would be okay with this change then I'm happy to submit a PR.

[2017-03-17 21:30] zjoin opened #61 "How stay sticky on reload page?"

[2017-03-20 09:41] yezongyang opened #62 "How to set sticky status?"
is possible to set sticky status manually?

[2017-03-20 16:34] hankhsiao commented on #62
What are use cases?

On Mar 20, 2017 2:41 AM, "yezongyang" <notifications@github.com> wrote:

[2017-04-01 09:43] #62 closed

[2017-04-04 16:31] gushecht opened #63 "Status changes to 0 when scrolling towards top"
If I scroll down, the status changes to 2.  As soon as I start scrolling upwards it changes to 0, even before I reach the top of the page.  I would expect that it only changes to 0 when I reach the top of the page.

[2017-04-07 15:27] yongzhihuang opened #64 "body { overflow-x: hidden; } breaks sticky on Firefox"
Hi, I am seeing an issue where if I have
[code]
rule applied, the sticky does not work on Firefox (52.0.2 (64-bit)) on OSX Yosemite.

[2017-04-11 15:15] chrisvxd commented on #26
Thanks @danielberndt- using your library now! Works well 👍

[2017-04-18 08:45] voold opened #65 "Update to react 15.5"
Warning: Accessing PropTypes  via the main React package is deprecated. Use the prop-types package from npm instead.

Thanks :)

[2017-04-18 13:30] redonkulus commented on #65
@voold want to open a PR to fix it?

[2017-04-18 14:05] voold commented on #65
Done

[2017-04-18 23:18] zutler opened #67 "breakConfig option in .babelrc file breaks webpack build when the parent version of Babel is 6"
node_modules/react-stickynode/.babelrc.breakConfig - This is not a necessary option in Babel 6

[2017-04-19 17:03] redonkulus commented on #67
This is odd, the .babelrc doesn't need to be published anyways. I will take a look.

[2017-04-19 18:16] redonkulus commented on #67
@zutler I published a new package, react-stickynode@1.3.1, that does not include the .babelrc file.

[2017-04-19 18:16] #67 closed

[2017-04-19 18:17] redonkulus commented on #65
Fixed via https://github.com/yahoo/react-stickynode/pull/66

[2017-04-19 18:17] #65 closed

[2017-04-19 18:46] zutler commented on #67
@redonkulus thanks for a quick resolution.  However, I only see one file changes:
https://github.com/yahoo/react-stickynode/commit/446c565d594e3d540d4facbbfb50819ed69fda07#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

and .babelrc file is still there with the same content.

[2017-04-19 18:50] zutler commented on #67
Thank you!

[2017-05-02 02:27] scottwarren commented on #64
Hey @yongzhihuang it'd be good to get a [Codepen](codepen.io) with an example of this happening (even if it's just including the library and adding the `body { overflow-x: hidden; }` CSS. Just makes it easier to test things out with the codebase when there is a simple example of the code breaking :)

[2017-05-12 06:45] jon-node28 opened #69 "Flicker when transitioning to active"
With a Sticky container that is 1px from being active on page load, the transition from inactive to active causes the content to flicker, jumping up until height value is set to correct it's position.

[2017-05-16 16:40] 4ok opened #71 "Top position of stiky element doesn't change when I change "top" prop"
When I change top position dynamically

[code]

top position doesn't change. Position will change only after scroll

[2017-05-17 14:48] greenkeeper[bot] opened #72 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-24 15:49] drewdrewthis commented on #21
Is there a way to solve this from within react-stickynode without having to explicitly add a new dependency to my `package.json`?

[2017-07-19 15:38] spirift opened #76 "Force a recalculation of height values based on window"
I have a situation when I use `react-stickynode` for a sidebar and the page body can change height based on user input to filter away results. When the page body becomes smaller than the window it can cause some pretty weird behavior where the scroll position of the window will jump around and the sidebar flashes on and off the screen.
A simple fix for this is to unmount and then mount the Sticky

[2017-07-20 12:44] rikkit commented on #76
I think I see this issue as well, when the document shortening for whatever reason causes the sticky element to be positioned below its bottom threshold. It's corrected on scroll, so a workaround is to do just scroll the window 1px up or down when you know it's changed.

[2017-07-20 13:27] spirift commented on #76
Yes that's true, I will give that a try and let you know how it works out.

[2017-07-20 15:20] spirift commented on #76
I used `window.scrollBy(0, -1)` to no avail. I also tried with 100px and still no luck though the problem isn't as pronounced. Using `window.scrollTo(0, 0)` works and is possibly a better solution than unmounting and mounting again. I also tried putting the `scrollBy` in a `setTimeout` to make sure it was calculated last but this didn't have much effect.

[2017-07-21 07:47] liubko opened #78 "Sticky thead"
`validateDOMNesting` error when using inside `<table>`

[2017-07-26 07:11] allanpope commented on #61
I've got the same issue. If I scroll down the page so the element is in a sticky state and then refresh the page, the element is not sticky. It becomes sticky if I start scrolling again. @zjoin my current work around is to dispatch a window resize event on page load.

[2017-07-26 11:27] rikkit commented on #78
This is an warning from React. table elements are only allowed to contain some elements according to the HTML spec https://developer.mozilla.org/en/docs/Web/HTML/Element/table

To create a sticky thead using this component that is also valid html, you need to get creative. In my app I have a separate table with the same column headers as the table with data in it. The separate table is wrapped wit

[2017-08-04 15:57] infacq commented on #47
@hankhsiao do you mind to show example how to make it stick to the bottom and release when approach the specified `boundaryBottom`

[2017-08-10 16:31] isaacalves opened #79 "glitch when scrolling"
I have a very simple implementation of react-sticky node:

[code]
and in my Sass file:

[code]
This is the initial state of the Sticky, when the header is not Sticky:

![screenshot 2017-08-11 11 13 53-1](https://user-images.githubusercontent.com/1765942/29209510-ccf4bcd4-7e86-11e7-930d-5cd541ee580a.png)

When I drag the scrollbar down, as soon as the Header reaches the top of the viewport, it will

[2017-08-10 19:59] itwasmattgregg opened #80 "Jumpy behavior bug"
Anyone else seeing jumpy behavior of sticky element right after it becomes sticky? Any ideas how to fix this?

[2017-08-11 08:01] rikkit commented on #80
This'll be because of the transition of the outer container to ```position: fixed```. Basically you need to avoid applying height affecting CSS to the outer container, and only to ```.sticky-inner-wrapper``` so that the height maths are consistent between stuck and unstuck modes.

[2017-08-11 13:43] isaacalves commented on #79
This workaround kind of solves it, but it still doesn't play well with a 'scroll to anchor' feature I'm painfully trying to put together

[code]

[2017-08-17 14:59] isaacalves opened #81 "Is is possible to have a dynamic offset property on the Link?"
posted it here by mistake. please delete

[2017-08-28 06:30] 3stacks opened #82 "TypeError: M.prefixed is not a function"
I'm having a very hard to reproduce error pop up. I have a modernizr build in my local dev environment, but when I pass it off to the back-end developers to plug into Sitecore, they get `M.prefixed is not a function`.

[code]

I figure this is the issue. There is *some* modernizr build on the window, but perhaps it's missing something. Any ideas on this?

Update:

So the project uses grunt-moderni

[2017-09-29 20:57] brucewpaul opened #83 "React16 support"
now that react16 has been published, would it be possible to update the dependencies to reflect this? Thanks!

[2017-10-03 21:30] #83 closed

[2017-10-07 16:51] alolis commented on #69
I am noticing the same behavior

[2017-10-08 09:50] HashemKhalifa opened #90 "Add react 16 compatibility"
Kindly add react-addons-shallow-compare version 16 as well,
or I might create a pull request!

[2017-10-08 23:14] aivanov93 opened #91 "Sticky dissapears with scrollIntoView"
Hi!
I have two sticky components on my page, a sticky header and a sticky sidebar.
[code]
The sidebar links to different sections in the content using hash links.
The problem I have is as follows: sometimes (I haven't exactly figured out when) jumping to a section causes the sidebar to disappear. The header never disappears though and I assume the issue is because the sidebar is taller than the vi

[2017-10-09 04:54] MurhafSousli commented on #80
I also have the same behavior on edge, but it works properly on chrome and firefox

[2017-10-09 12:43] alolis opened #92 "No re-render is fired when outerRect width changes"
Hello,

The use case is like this.

Let's say for example that you have a left sidebar that a user can collapse-expand with a button and you also have your main content div that contains a sticky element. The sidebar is currently collapsed and the sticky element active with width: X set in `sticky-inner-wrapper` style.

If I now open the sidebar, the available width of the main content is no longe

[2017-10-09 12:49] redonkulus commented on #90
Looks like a React 16 version has not been published, https://www.npmjs.com/package/react-addons-shallow-compare, are you seeing a warning somewhere?

[2017-10-10 20:08] jakewisse commented on #58
I was just looking into this, but it doesn't look possible without breaking from `subscribe-ui-event` or modifying its functionality. (This is the lib that react-stickynode uses for [attaching scroll event listeners](https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L346).) They've got their `scroll` subscriptions [hardcoded to the `window`.](https://github.com/yahoo/subscribe-u

[2017-10-17 13:25] JohannesHansen opened #93 "z-index should not be applied when element isn't sticky"
`.sticky-inner-wrapper` always seem to have `z-index` set. Expected behaviour would be for `z-index` to only be applied when the element actually is sticky.

This currently causes issues with z-index on child elements.

[2017-10-18 06:18] #92 closed

[2017-10-18 08:52] rikkit commented on #93
Dunno about whether this should change, but you can override this behaviour with CSS

[code]

[2017-10-18 11:00] tjanne commented on #93
Setting z-index on an element creates a separate stacking context for all its child elements, and this unfortunately still applies when z-index is unset. CSS can't solve this problem, as far as I am aware.

Unless there is any particular reason for z-index to always be applied, I strongly suggest only setting it when needed.

[2017-10-19 17:08] src-code opened #95 "Fork/rename this project"
Currently there's no one within Yahoo/Oath that has a desire to continue maintaining this project, so it'd be great if someone were to step forward and fork/rename this project and maintain it going forward so we can archive this repo.

Anyone willing?

cc @hankhsiao @roderickhsiao @markwoon @kunukn @aclimatt @redonkulus

[2017-10-19 17:38] roderickhsiao commented on #95
I will ping @hankhsiao to see if he want to maintain as he is the original owner

[2017-10-19 17:42] hankhsiao commented on #95
I am willing to maintain. How can I do that?

[2017-10-19 18:58] redonkulus commented on #95
@hankhsiao really just need to ensure that you follow up on issues/PRs, test new features and publish. Same old stuff. Just need to make sure its up to date.

[2017-10-19 22:51] roderickhsiao commented on #95
@redonkulus I think @hankhsiao is asking the process. Forking this into his repo?

[2017-10-19 23:11] redonkulus commented on #95
Can leave it, I don't think it has to move. Unless @src-code has a reason.

[2017-10-20 01:25] roderickhsiao commented on #95
:)

[2017-10-20 01:30] redonkulus commented on #95
That's fine too.

[2017-10-31 15:21] setevik commented on #90
According to [upgrade guide](https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#discontinuing-support-for-react-addons), this add-on supposed to be replaced by PureComponent
This PR seems relevant: https://github.com/yahoo/react-stickynode/pull/87

[2017-11-09 07:59] Benjiman1986 opened #96 "Horizontal Scrolling issue"
I have two parts content on one page, when scrolling down, the left part will be presented as sticky style. When the left part is sticky, if there is a horizontal scroll bar on the page, if dragging the horizontal scroll, the sticky left part content still be shown on the same place of the page, which make the website looks strange. Is there a way to solve this issue?

![image 1](https://user-imag

[2017-11-26 01:53] gusdaud opened #98 "position: sticky fallback"
Hey,

It would be great if this component fallsback to the new css sticky feature.

Most of the modern browsers supports `position: sticky` (or `position: -webkit-sticky`, etc.).

Advantage is that its supposed to be more fluid and consumes less resource.

What do you think ?

[2017-12-05 16:31] computapars commented on #90
Will this package work with React 16?

[2017-12-06 04:11] MilllerTime commented on #90
@computapars Working just fine with React 16 here.

[2017-12-06 05:45] HashemKhalifa commented on #90
@MilllerTime yes works perfectly fine

[2017-12-08 04:44] cowardcalf opened #100 "active class is applied to outer wrapper."
I guess the value of `activeClass` is supposed to be applied to the inner sticky component, but now they are applying to the out wrapper.

When it is in sticky status, the out wrapper will be scrolled out of the viewport that makes the class on it makes no sense 😢

Am I right? Or I missed something to use `react-stickynode` properly?

[2017-12-11 16:39] ryan-ajmadison commented on #76
Does anyone have a good solution for this? I really like this package, but this is a common bug for me and I need a better solution to this issue.

[2017-12-12 11:27] rikkit commented on #100
Just target your css to `.active .sticky-inner-wrapper` rather than `.active` (replace "active" with your value of `activeClass` - "active" is the default)

[2017-12-12 12:30] cowardcalf commented on #100
@rikkit Thanks for your suggestion.

I believe definitely that will work. But it looks like  a bypass solution.

I'm wondering what does the `activeClass` do? If it is not assigning class when it is "active".

[2017-12-12 12:49] rikkit commented on #100
Correct, I usually set it to `stuck` since I use `active` as a class name for other things.

[2018-01-03 10:10] Kunoky opened #101 "A slight jitter occurs when fixed directly on the top"
When I start to trigger the sticky, there will be a slight jitter.
![test](https://user-images.githubusercontent.com/26639880/34516230-1ddd47dc-f0b1-11e7-8625-b769001600db.gif)

[2018-01-03 11:22] webyonet commented on #55
+1

[2018-01-03 16:36] hankhsiao commented on #55
Ideally, it should set it's parent as boundary. But, in most case, it's
parent is collapsed, and users get confused that sticky node doesn't work.
So explicitly set the bottomBoundary could be a better solution to educate
people. I agree it will be more convenient, but introducing another prop
will also confuse people.

On Jan 3, 2018 3:22 AM, "G.Burak" <notifications@github.com> wrote:

[2018-01-08 05:43] cowardcalf commented on #100
Thanks!

[2018-01-08 06:00] MilllerTime commented on #90
It appears there is a potential compile error when using React 16. react-addons-shallow-compare seems to expect the folder structure of React 15. After refactoring some dependencies recently, I started getting a compile error from webpack because it couldn't resolve a `react/lib/...` import in react-addons-shallow-compare. My guess is I still has React 15 lurking somewhere before, and now it's gon

[2018-01-08 21:45] MilllerTime commented on #61
Triggering either a resize or a scroll event once the DOM is ready does the trick.

[2018-01-12 18:41] alexpriceonline commented on #96
I'm having the same issue. Not sure what happening!

[2018-01-12 18:55] alexpriceonline commented on #96
Never-mind... It was an issue with some unrelated CSS

[2018-01-18 06:01] hedgepigdaniel opened #102 "Sticky element with changing height"
Does this handle a case where there is a sticky sidebar that
 * Might be taller or shorter than the scrollable content area next to it
 * Might change in height due to expandable menus in the sidebar
 * The content area may also change in height

?

I ask because an easy problem to end up with other libraries or self made code with seems to be that the following happens:

 1. The sidebar becomes s

[2018-01-24 22:44] lexarvn commented on #102
I've had a similar problem with this where the sticky content is dynamic and if I'm scrolled all the way to the bottom of the window and then sticky becomes taller than the window, I have to scroll back up for it to re-adjust. The trouble appears to be that https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L297 needs to also check if `prevProps.children` is equal to `this.props.

[2018-01-24 22:53] lexarvn commented on #102
Actually, it would need to do a deep compare on the children so it maybe better to just remove that check.

[2018-01-25 13:48] Benjiman1986 commented on #96
Finally I fix this issue by auto changing the "left" style of the sticky node while horizontal scrolling

[2018-01-25 13:48] #96 closed

[2018-01-29 09:25] launchriot opened #103 "Examples on how to use? (bottomBoundary)"
Hi,

I'm using Sticky to get an element to stick once the user hits it while scrolling, but I can't get it to stop sticking. How do you use bottom boundary? I tried setting it to match the className of the sticky's parent container. I also tried setting it to an element that is below the sticky's parent container. How do I tell the sticky to stop sticking? Thanks.

[2018-01-29 10:09] rikkit commented on #103
The string for the bottomBoundary prop has to be a fully-qualified selector, i.e. `.class` or `#id` or `section` . If there are multiple matches for the selector I believe it takes the first one, but you'll have to check that.

[2018-01-29 12:34] launchriot commented on #103
Right, so shouldn't this work:
[code]

[2018-01-29 12:51] rikkit commented on #103
`#outer-wrapper` shouldn't work since you're using `outer-wrapper` as a class name - it should be `.outer-wrapper`. Same for `#fix-wrapper` (btw - I don't think you need to configure `top` in this instance since it's the same as the default calculation).

- Wondering if you have more than one instance of `.outer-wrapper` on the page?
- Do you notice if `released` gets added to the class list when

[2018-01-29 13:00] launchriot commented on #103
it seems like setting the bottomBoundary causes it to never scroll at all. <Sticky top={80}> works, but again it just keeps going to the bottom of the page. This entire thing is inside a component that is within another page component, if that matters. I have some CSS on the sticky component, what should I be looking out for?

[2018-01-29 13:16] launchriot commented on #103
Finally got it by setting the boundary on the second column (the one filled with <p>foo</p>) because it seems like the first column didn't actually have a height for some reason.

[2018-01-29 13:16] #103 closed

[2018-01-29 13:20] pielambr opened #104 "Warnings when testing with Jest"
`Warning: Sticky.shouldComponentUpdate(): Returned undefined instead of a boolean value. Make sure to return true or false.`

I'm getting this error when using this package @ version `1.4.0` when testing with Jest.

[2018-02-02 06:55] hedgepigdaniel commented on #102
One possible way to address this is by getting a ref to the react-stickynode component, and then doing
[code]
Whenever I know the size of the sticky element has changed (In my case its a collapsible react-collapse element, so the children don't change). This doesn't exactly fill me with joy but it seems to work...

[2018-02-03 02:27] lexarvn commented on #102
@hedgepigdaniel Thanks, I actually used that as a work around for now. Still bothersome that something like that has to be added though. Maybe if I get the time, I'll make a PR to fix this problem.

[2018-03-04 10:49] benjamindulau opened #105 "Initial sticky state based on scroll position"
I have this use case:

[code]

The `BatchEditBar` is not visible until at least one item from a list is selected. But when it's visible, it has to be sticky.

It works well if I select an item from list and the scroll is already at the top. I scroll down and the bar gets sticky.

But if I scroll down first, then select an item, the bar appears (due to the hasSelection condition), but it's not stic

[2018-03-04 18:30] hankhsiao commented on #105
Does it work if you hide BatchEditBar only, which means you always activate
sticky but no content inside?

On Mar 4, 2018 2:49 AM, "Benjamin Dulau" <notifications@github.com> wrote:

[2018-03-05 08:10] benjamindulau commented on #105
Yep, it does work. Seems a bit weird though.

[2018-03-05 10:25] rikkit commented on #105
Another workaround is to trigger the scroll handlers after state change - i.e. scroll the window by 1px.

[code]

In my projects I take @hankhsiao 's approach, and hide the contents of the sticky bar using CSS.

[2018-03-05 13:40] benjamindulau commented on #105
@rikkit yes that's the first workaround I chose. But still, it would be better that the component take care of this when initializing, maybe by checking the scroll position at that time?

[2018-04-05 11:47] runmoore opened #106 "String refs warning when using React 16.3 in strict mode"
When using React 16.3 in [strict mode](https://reactjs.org/docs/strict-mode.html), two warnings appear in the console about using string refs. One for the "outer" ref and one for the "inner" ref.

e.g.

More information on why string refs should be avoided: https://fb.me/react-strict-mode-string-ref

[2018-05-24 15:18] redonkulus commented on #106
Fixed by https://github.com/yahoo/react-stickynode/pull/88

[2018-05-24 15:18] #106 closed

[2018-05-25 07:18] kosChupahin opened #107 "The "reset" method does not called correctly."
Good afternoon.
Faced such a problem. I use your component for the sidebar in a large document. The panel itself is fixed in the height of the screen. Sometimes the sidebar moves to the top, I mean, it calls the reset method (looked in your implementation) although the top offset has not been reached.
I can not show this on my page, but I found a case where it is reproduced, though not always.
[ex

[2018-05-28 08:05] tomasztomys opened #109 "Add 2.0.0 to releases"

[2018-05-29 02:38] redonkulus commented on #109
Done and done https://github.com/yahoo/react-stickynode/releases/tag/v2.0.0

[2018-05-29 02:38] #109 closed

[2018-05-29 08:28] xrmeng opened #110 "can it sticky footer?"
can it sticky footer?

[2018-06-04 09:24] koox00 opened #111 "Breaks building of a create-react-app application"
Updating from `1.4.1` to `2.0.1` breaks the production build of an app created with `create-react-app`.

The error lies in the `subscribe-ui-event` dependency.

[code]

[2018-06-04 14:48] vladserban commented on #111
Same issue. Any fixes? workarounds?

[2018-06-04 15:46] redonkulus commented on #111
It looks like `create-react-app` is pulling in the es6 version of the code based on the [`module`](https://github.com/yahoo/subscribe-ui-event/blob/master/package.json#L6) property of the `package.json`. Supposedly this is supported by `create-react-app`

It seems to be failing at this part in the `subscribe-event-listener/dist-es/lib/listen.js file:

Either way, this is probably a bug for that re

[2018-06-04 16:36] roderickhsiao commented on #111
Will take a look

On Mon, Jun 4, 2018 at 8:46 AM Seth Bertalotto <notifications@github.com>
wrote:

[2018-06-05 19:19] shantp commented on #111
This is not just a create-react-app issue. This broke my webpack build as well and I'm not using create-react-app.

[2018-06-05 19:41] roderickhsiao commented on #111
just published subscribe-ui-event@2.0.2

can you guys help to check if that fix the build

[2018-06-05 23:16] koox00 commented on #111
@roderickhsiao the update fixed the build for me!

[2018-06-11 18:45] anthonyLukes commented on #64
I have a similar issue https://codesandbox.io/s/2o7wvnmkvn. In my case the body/window doesn't scroll and instead a child element is scrolling. I'm guessing `subscribe('scroll', ... );` only applies to the window.

[2018-06-15 10:54] #111 closed

[2018-06-20 08:17] youwei91 opened #113 "Safari having bug when scroll to top"
I met a bug is when in Safari, when I tap to scroll to top, it will leave a huge blank space

![screen shot 2018-06-20 at 2 29 30 pm](https://user-images.githubusercontent.com/11750574/41646154-a4e5d3c0-74a5-11e8-96e5-1bf5dcaae916.png)

After I investigate is due to the _STATUS_FIXED_ is not respond correctly. At Sticky.jsx, line365, the position value should change base on _STATUS_FIXED_ value, b

[2018-06-27 07:43] flyingsky commented on #69
I add some padding bottom on the container to solve this problem.

[2018-07-10 16:15] nozpheratu commented on #102
I too am encountering this issue. Seems the StickyNode doesn't correctly determine the height on the first pass, resulting in the element not pinning correctly. It corrects itself after scrolling up 1 pixel.

[2018-07-13 13:22] stefensuhat commented on #111
mine still can't compile with subscribe-ui-event@2.0.2. @koox00 how do you build the project?

[2018-07-13 13:53] koox00 commented on #111
@stefensuhat my project is created with `create-react-app` the build scripts can be found here https://github.com/facebook/create-react-app/tree/next/packages/react-scripts/scripts

[2018-07-19 17:36] kelly-tock commented on #111
sane issue with the latest one here.

[2018-07-19 21:14] roderickhsiao commented on #111
Do you guys have a simplified repo that I could checkout and debug?

[2018-07-19 21:21] tinder-rhsiao commented on #111
I create a fresh one using `create-react-app` https://github.com/roderickhsiao/debug-create-react-app-es

but I didn't see the compiling error

[2018-07-19 23:08] kelly-tock commented on #111
I think there are 2 issues. One was a build one. The other is that since there’s a module field, it lets things like const get through. I think a browser field should also point to main? Older browsers will break like safari 9

[2018-07-19 23:08] kelly-tock commented on #111
Oh that’s for subscribe ui event sorry

[2018-07-20 00:03] roderickhsiao commented on #111
@kelly-tock all the file loads from `module` fields are transpiled, please try `2.0.3`

[2018-07-27 17:56] NicoleRauch commented on #47
I'm also interested in such a behaviour. Here is my use case:

I want to build a long order summary page which should have a button "Buy this!" at the bottom of the page that should be always visible (aka. "sticky"). Below the button there is a general footer that should become visible if the user scrolls all the way down (then the button area should lose its stickiness and move upwards with the r

[2018-07-29 00:40] hankhsiao commented on #47
I don't think a way to achieve your need without modifying code. Maybe you
can set topOffset close to bottom?

On Fri, Jul 27, 2018, 10:56 AM Nicole Rauch <notifications@github.com>
wrote:

[2018-07-29 06:29] NicoleRauch commented on #47
@hankhsiao Thanks for the pointer! I've experimented with this and this is what I've achieved by now:

- I've set the top offset to the window bottom, and it sticks to the bottom of the page. (Good!)
- I've set the bottomBoundary to where the general footer starts, and it scrolls up when the general footer comes into view. (Good!)
- But when I scroll down again, the element does not become sticky

[2018-07-29 06:37] NicoleRauch commented on #47
Oh, and one more question, if I may: I've moved the React element for the "Buy this!" button to the top of the page (because otherwise I do not see it when I am at the top of the page because it only seems to be moved down by react-stickynode, not up).
But when I open the page, the button is right where I inserted it into the page, i.e. somewhere near the top. It is only when I start to scroll tha

[2018-08-03 08:30] rikkit commented on #110
[code]

[2018-09-06 03:55] vilsad opened #116 "Compatibility issues with Google Chrome v40 and it affects SEO"
Hi,
When I open the site in Google Chrome 40 after using this component, I am getting error Loading chunk 13 failed. Uncaught SyntaxError: Use of const in strict mode. and it fails to render since the js chunk is not loaded. apparently this affects the SEO since Google is using Chrome 40 / 41 to parse the content of the client side rendered pages.

[2018-09-06 04:35] redonkulus commented on #116
Chrome 40 is an old browser. What is the reason for using that version?

[2018-09-10 21:20] pmaddaloni opened #117 "Sticky No Longet Sticks as of FireFox v62"
While using FF, it appears that the component's state never updates when scrolling a page. I tested this by simply adding a `console.log` to the `onStateChange` function prop. It never prints in the Firefox debug console, and more importantly, it does not stick.

Incidentally, I can get `Sticky` to stick in FF if I scroll down the page, then refresh it. The component is then stuck in place, but is

[2018-10-01 12:47] kchupakhin opened #118 "Error when testing with jest."
Hello.
I write snapshot test for my component. The **StickyNode**(react-stickynode) is used Inside the renderer method.

In test I've got error:
Error: Uncaught [TypeError: Cannot read property 'getBoundingClientRect' of null] at Sticky.updateInitialDimension

 "jest": "23.5.0"
"react-stickynode": "2.0.1"

[2018-10-23 08:06] #118 closed

[2018-11-15 10:26] Darmody opened #122 "Is it possible to use Sticky on an absolute element?"
it seems triggered sticky when "relative element" scrolling to the top of the window but not absolute element.

[2018-12-03 01:55] Darmody commented on #122
@roderickhsiao Thanks for your reply!

[2018-12-03 01:55] #122 closed

[2019-01-14 11:41] Keksike commented on #90
If someone ends up here and is looking to get a working solution with React >=16, try this package, worked brilliantly for me: https://www.npmjs.com/package/react-sticky-el

[2019-01-14 20:32] roderickhsiao commented on #95
So I fork this repo https://github.com/roderickhsiao/react-stickynode, I can take the ownership if you guys want to archive this repo :)

Also, is this package still used in the company? Or is it okay to do major refactor and bump to version (revisit some logic that we added before to handle edge cases)

[2019-01-14 20:52] redonkulus commented on #95
We still use it internally. I'm fine with a refactor and major version bumping it.

[2019-01-14 20:59] roderickhsiao commented on #95
okay Sir, will spend sometime take a look

[2019-01-16 20:42] roderickhsiao commented on #90
This is addressed in #123

[2019-02-08 15:03] collinklippel commented on #105
Is this feature in the works? Like to help out if I can!

[2019-04-18 18:48] switz opened #125 "Feature Request: iOS like sliding when a new sticky overtakes the previous one"
When you scroll on an iOS list view, the next sticky section header will actually push up the current sticky header rather than just sliding on top of it. This is subtle but is actually really clean and pleasant UX.

Here's a video showing what I mean. Look at the "Featured" and "Favorite" sticky headers: https://streamable.com/vuk5z

I'm happy to send a PR if this is something you guys are intere

[2019-06-05 08:46] LeeIakokka commented on #125
How would one actually accopmlish that? I'd be interested in having such option. +1

[2019-06-26 03:59] superman66 opened #126 "The page will scroll to top when trigger window resize event，"

[2019-09-09 07:06] mohit-pandey commented on #118
Facing similar issue..Did you find any solution?

[2019-10-08 17:05] frankyjuang opened #128 "componentWillReceiveProps raises warning"
Reference: https://fb.me/react-unsafe-component-lifecycles

[code]

[2019-10-22 19:21] ahahn95 commented on #128
@frankyjuang Seeing the same behavior when updating my React version. Did you find a solution?

[2019-10-23 04:24] frankyjuang commented on #128
@ahahn95 nope. I guess there's no way around but fix the library itself.

[2019-10-24 10:56] baptistefkt commented on #93
+1 Agree with @JohannesHansen.

[2019-10-26 02:52] gugiserman commented on #128
I just upgraded React in a couple of projects of mine and this is the last library still popping up warnings. It would be fairly easy to add the `UNSAFE` prefix but it's not a good long-term fix, right?

Is there any way to ignore this error temporarily so we don't have our consoles full of yellow blocks for now at least?

[2019-10-27 19:35] maxreality commented on #128
UNSAFE will be supported throughout 17. Facebook states they have over 50k components and don't plan to end support for the lifecycle hooks instantly. However, given the activity in this repo, I think it would be wise to move your projects away from this library. In the interim, you could either try submitting a PR yourself or modifying the library and ensuring it isn't rewritten on the next npm i

[2019-11-19 08:53] remi95 opened #129 "bottomBoundary element doesn't update"
`<Sticky top={139} bottomBoundary={'#main'}>...</Sticky>`

I use a simple sticky wrapper with my main element  as _bottomBoundary_.
The problem is I have many elements loading, and my document height is changing, but the bottomBoundary doesn't recalculate the correct value after that. So my sticky element come over my footer.

I also tried to pass a **ref** and to use the following method, but not

[2020-03-06 10:08] almightybruce opened #130 "Update subscribe-ui-event to 2.0.6"
Current version of subscribe-ui-event 2.0.0 has a Prototype Pollution vulnerability in lodash version 4.17.10. Version 2.0.6 of subscribe-ui-event uses lodash v 4.17.15 where this is patched.

[2020-03-08 23:28] lb- opened #131 "componentWillReceiveProps does not check props.enabled"
## Steps to reproduce
* Disable `Sticky` using the prop `enabled={false}`
* Set up a component to receive other props (either by a re-render by parent) or dynamically changing some other prop on Sticky
* Expectation: Methods like `updateInitialDimension` & `update` are not called due to the component being NOT enabled
* Actual: When disabled, errors occur due to attempts to find the DOM node (or o

[2020-03-09 01:26] redonkulus commented on #131
Thanks for the issue. Can you provide a code share link so we can see the error?

[2020-03-12 23:45] lb- commented on #131
@redonkulus  - I have been able to reproduce with a basic scenario and found that the the steps to reproduce require the bottomBoundary prop to be `null` AND the `<Sticky enabled={false}...`.

But the bottomBoundary prop should not be read when it is disabled.

https://codesandbox.io/s/empty-worker-yuqoc?fontsize=14&hidenavigation=1&theme=dark

In the codesandbox above, first click 'disable sticky

[2020-03-20 08:54] SajithRAP opened #132 "react-stickynode ccrolled slowly to top the sticky is not working"
When we scroll top quickly the sticky is removed. But, the issue happens when the page is scrolled top slowly. If we scroll top slow and reached the top of the page then it's not working as intended. Is there a way to fix this. Alternatively, If i could offset the top position i.e, when this should become sticky from top then that may resolve the issue. Thanks.

[2020-03-30 13:40] maurer2 commented on #102
Hello, we solved that issue with the code from https://github.com/yahoo/react-stickynode/issues/102#issuecomment-362502692. We did some changes to make it work with hooks and added resize observers to detect height changes of the sticky element.

Simplified code:

[code]

[2020-05-05 13:37] redonkulus commented on #128
This was fixed in https://github.com/yahoo/react-stickynode/pull/124 and released in v3.0.0

[2020-05-05 13:37] #128 closed

[2020-05-05 13:38] #43 closed

[2020-05-05 13:42] redonkulus commented on #130
thanks @almightybruce, fix released in v3.0.1.

[2020-05-05 13:42] #130 closed

[2020-05-05 13:43] redonkulus commented on #117
please check latest firefox and let us know if its broken.

[2020-05-05 13:43] #117 closed

[2020-05-05 13:43] #116 closed

[2020-05-05 13:43] redonkulus commented on #113
Closing old bugs, please re-open if still an issue on latest Safari.

[2020-05-05 13:43] #113 closed

[2020-05-05 13:44] #110 closed

[2020-05-05 13:44] redonkulus commented on #129
Please provide a codesandbox or demo to help debug and reopen the ticket if still needed.

[2020-05-05 13:44] #129 closed

[2020-05-05 13:45] redonkulus commented on #104
Please provide a codesandbox or demo to help debug and reopen the ticket if still needed.

[2020-05-05 13:45] #104 closed

[2020-05-05 13:46] redonkulus commented on #101
Please provide a codesandbox or demo to help debug and reopen the ticket if still needed.

[2020-05-05 13:46] #101 closed

[2020-05-05 13:46] #100 closed

[2020-05-05 13:47] redonkulus commented on #125
@switz If you still want this, you can open a PR and we can review it. Closing for now.

[2020-05-05 13:47] #125 closed

[2020-05-05 13:55] #95 closed

[2020-05-05 14:01] rodoabad opened #133 "Release notes for 3.x?"
Does `react-stickynode` follow semantic versioning? What was the breaking change going from 2 to 3?

[2020-05-05 14:13] redonkulus commented on #133
@rodoabad its in the Release section. https://github.com/yahoo/react-stickynode/releases/tag/v3.0.0

[2020-05-05 14:13] #133 closed

[2020-05-05 14:13] redonkulus commented on #93
@JohannesHansen please feel free to open a PR to fix.

[2020-05-05 14:13] #93 closed

[2020-05-05 14:14] #82 closed

[2020-05-05 14:23] #72 closed

[2020-05-05 14:23] #90 closed

[2020-05-05 14:24] redonkulus commented on #80
Please open a codersandbox example to help debug, re-open if still needed.

[2020-05-05 14:24] #80 closed

[2020-05-05 14:25] #37 closed

[2020-05-05 14:26] redonkulus commented on #46
Closing old bugs, please re-open if still needed.

[2020-05-05 14:26] #46 closed

[2020-05-05 14:26] redonkulus commented on #47
Closing old bugs, please re-open if still needed.

[2020-05-05 14:26] #47 closed

[2020-05-05 14:26] redonkulus commented on #50
Closing old bugs, please re-open if still needed.

[2020-05-05 14:26] #50 closed

[2020-05-05 14:26] #55 closed

[2020-05-05 14:26] #61 closed

[2020-05-05 14:27] redonkulus commented on #64
@anthonyLukes @yongzhihuang please feel free to open a PR to fix or close if not an issue anymore.

[2020-05-05 14:29] redonkulus commented on #69
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:29] #69 closed

[2020-05-05 14:29] redonkulus commented on #71
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:29] #71 closed

[2020-05-05 14:30] #78 closed

[2020-05-05 14:30] #81 closed

[2020-05-05 14:30] #79 closed

[2020-05-05 14:30] #76 closed

[2020-05-05 14:30] #58 closed

[2020-05-05 14:31] #105 closed

[2020-05-05 14:31] #126 closed

[2020-05-05 14:31] redonkulus commented on #107
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:31] #107 closed

[2020-05-05 14:32] #102 closed

[2020-05-05 14:32] redonkulus commented on #91
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:32] #91 closed

[2020-05-05 14:32] #56 closed

[2020-05-05 14:33] redonkulus commented on #98
Seems like you wouldn't need this library if you can use the native sticky CSS property.

[2020-05-05 14:33] #98 closed

[2020-05-05 14:33] redonkulus commented on #63
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:33] #63 closed

[2020-05-05 14:34] redonkulus commented on #131
@lb- do you want to try and provide a fix for this?

[2020-05-05 14:35] redonkulus commented on #132
Please provide a codesandbox to help debug. Re-open if still needed.

[2020-05-05 14:35] #132 closed

[2020-05-05 14:35] #64 closed

[2020-05-08 06:35] lb- commented on #131
Sure, I'll give it a try, will ping you if I get stuck. Might not be this weekend though, hopefully soon.

[2020-05-09 00:39] lb- commented on #131
@redonkulus when I run `npm run devtest` I get about ten failed tests (full log below) and it fails. I am using Node 10.16.0 and ran a fresh `npm ci` install after checking out the project locally.

Is this expected? What should I be doing differently to ensure I have a valid starting point?

[code]

[2020-05-09 00:45] lb- commented on #131
It appears that `shell:mocha` is run for `npm run devtest` via the gulp task `unit` but not used in the gulp task `cover`. I will assume that I can just use `npm run test` and ignore `npm run devtest` for now (maybe readme needs to be updated).

[2020-05-09 03:12] lb- commented on #131
@redonkulus  - upon further investigation, I could not get the functional tests running locally either.

`npm run func` throws an error.

Plus If I intentionally add a failing test to the unit tests or functional tests, `npm run test` will always pass.

I might need a hand getting the dev environment set up for this project as I must be missing something.

I was able to get the unit tests all pass

[2020-05-09 03:17] redonkulus commented on #131
Thanks for taking a look at this. I haven’t actually worked in this codebase much. I inherited it via past coworkers. The functional tests haven’t been working for a while, I think we tried to get them working on  saucelabs last year but to no avail. This project needs a lot of TLC to get back into a good testing shape.

[2020-05-09 03:20] lb- commented on #131
Ok cool, so I'm not going crazy haha. Do you mind if I submit a PR for the unit tests?

I'll see if I can give another go at the functional ones maybe as a separate PR. Would it be ok if we updated the babel loader to 7 (this is a Dev dependency only).

[2020-05-09 13:10] redonkulus commented on #131
Yup tests and updating devDeps is fine by me.

[2020-05-10 05:45] lb- opened #135 "Unit tests are never run in test script and are failing"
* `npm run test` runs grunt's cover script, but this never actually runs the unit tests or functional tests correctly meaning that these tests are failing but never flag as an issue
* There are other issues with the functional tests but for now it would be good to get the unit tests up and running again, plus the readme could be clearer about which npm script to use (without expecting grunt to be

[2020-05-10 14:23] #135 closed

[2020-05-12 05:53] sandeepdhobi opened #137 "Bottomboundary not triggered with changesd props, its consider only the first value passed to it."
<Sticky enabled={true} top={59} bottomBoundary={bottomBoundary}>

Here I'm passing two passing different classes to bottomBoundary variable based on condition But it considers the first props not the later on.

I wanted to bottomBoundary to be dynamic based on props passed.

[2020-05-19 15:26] redonkulus commented on #137
@sandeepdhobi Can you provide a demo to this issue on https://codesandbox.io/ or equivalent site?

[2020-05-19 15:28] redonkulus commented on #131
@lb- I merged a PR (#151) that refactored the tests to use Jest. Do you want to try and provide a fix for the original issue here?

[2020-05-19 21:12] lb- commented on #131
Will try to give another go at this on the weekend 👍

[2020-05-23 03:45] lb- commented on #131
@redonkulus - so, it appears that this is no longer an issue in the latest master due to the migration to `componentDidUpdate` and some additional checks in `getBottomBoundary`. However, I have a PR that checks this scenario for future so that we can have confidence a similar regression will not happen.

https://github.com/yahoo/react-stickynode/pull/153

[2020-05-23 13:55] redonkulus commented on #131
Closed via https://github.com/yahoo/react-stickynode/pull/153

[2020-05-23 13:55] #131 closed

[2020-06-19 11:45] barbalex opened #177 "error prevents gatsby from building: Can't resolve core-js/modules/es.array.iterator"
After installing react-stickynode I got this error in the node console:

[code]

[2020-06-19 13:47] barbalex commented on #177
It seems that the issue is that react-stickynode uses core-js v3 while gatsby is still on v2.

So for any other one trying to use react-stickynode with gatsby: wait until [this issue](https://github.com/gatsbyjs/gatsby/issues/15601) is solved.

[2020-06-19 20:04] barbalex commented on #177
Closing as this is not solvable by react-stickynode

[2020-06-19 20:04] #177 closed

[2020-08-05 15:30] exocode opened #231 "build fails with Can't resolve 'core-js/modules/es.array.iterator' ...."
Hi there,
I've a Gatsby site. When I run `gatsby build` I get this error:
Is there a version available, or a workaround which works for me?

[code]

[code]

[2020-08-10 17:51] redonkulus commented on #231
I don't use Gatsby personally, is there a way to setup an demo in a sandbox somewhere?

[2020-08-11 14:38] brillout opened #235 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source, and we are currently reaching out to projects we like.

We have several solutions depending on your financial goals and we can help with:
- Increasing donations
- Starting/increasing consulting work for your users
- Earning a living from your open source work
- Remuneratin

[2020-08-11 18:50] #235 closed

[2020-08-13 15:34] brillout commented on #235
Sorry for the cold outreach and I'll make sure to not contact you again in the future :)

[2020-08-13 22:02] essejmclean commented on #231
Having the exact same problem. Running Gatsby as well.

[2020-08-14 08:57] rikkit commented on #231
The basic problem is that `core-js` 2 and `core-js` 3 are incompatible. The simplest fix is to make all your dependencies use the same version. `react-stickynode` depends on v3 so all your other packages will also have to, hence why upgrading Gatsby fixed this. There is apparently a way to get v2 and v3 to interop but I personally haven't managed to make it happen yet.

[2020-10-09 02:11] lehnavid opened #270 "onStateChange is never called"
Don't know if I use the library in the correct way.

I have an <Element /> component which is first visible after scrolling down a little bit.
It sits together with some other elements, which can vary in their amount, depending how many the user adds.
The more the user adds, the more is <Element /> pushed to the bottom.

As soon as it its the bottom of the viewport I want it to be sticky to the bo

[2020-10-15 08:04] steveluo commented on #270
I also encounter this issue. It seems that react-stickynode doesn't support scrollable element, that is, I can't make the element sticky which is inside a scrollable element instead of window.

I have simply tried to add target option to the subscriber and it can handle scroll but unfortunately it can't update the scroll position:

[code]

[2020-10-15 09:12] kaisian97 opened #275 "Provide active className for inner wrapper"
Currenly the activeClass only support for outer-wrapper.
I need it to support inner wrapper as well.
For example, I want to add box shadow when the sticky is activated.

[2020-10-22 04:02] jud3v opened #294 "bottomBoundary don't be activated with infinite scroll"
**Hello everyone 👋**

#### Problem:
If my custom infinite scroll component add more content in my component who i will render the Sticky and another component inside it.
[![Capture-d-e-cran-2020-10-22-a-06-19-47.png](https://i.postimg.cc/3wsKVdtV/Capture-d-e-cran-2020-10-22-a-06-19-47.png)](https://postimg.cc/wtk8sT8Q)

#### Structure:
|----- NavBar
...
|----- Sticky
|-- Menu
|----- Sticky
|-- Inf

[2020-10-22 11:53] jud3v commented on #294
To fix this problem add this below your infinite scroll map variable:

[code]

[2020-10-22 11:53] #294 closed

[2020-12-01 10:32] willslater opened #321 "On faster scroll, Sticky overflows other items"
I have a weird issue, maybe it is just my machine but I haven't seen this issue when adding sticky directly through css.

I have a sticky card which appears between 2 elements, it works when I slow scroll, but when I scroll faster (and by fast I mean just quicker than slow, not majorly fast) the Sticky container overshoots the top and bottom, then resets, almost like it takes a second to remove th

[2020-12-08 02:37] undirectlookable opened #324 "why depends core-js?"
no code use the `core-js`, but in `dependencies`, may can be removed?

<img width="1002" alt="Screen Shot 2020-12-08 at 10 34 43 AM" src="https://user-images.githubusercontent.com/3860109/101431105-3b91cb00-3941-11eb-91a5-0a8ef3f15220.png">

[2020-12-08 02:49] undirectlookable commented on #324
it's babel, sorry.

[2020-12-08 02:49] #324 closed

[2020-12-27 15:01] kinber95 opened #333 "Custom Component with gatsby-image overlaps sticky header"
Hi I implemented this library in my project, when I only use `<p>example</p>` html tags all works fine, but with my custom components the lib not working correctly. My container overlaps the sticky area when I scroll....

This is my header ->

[code]

my container ->

[code]
and the page code there both come together ->

[code]

I also try to add z-Index: 1 to my header and z-Index: -1 to my conta

[2020-12-27 21:11] #333 closed

[2021-01-03 18:16] charkour commented on #96
@Benjiman1986, how did you auto change the "left" style while horizontal scrolling?

[2021-01-06 11:13] willslater opened #337 "Side sticky menu - varying content height"
Hi, I am using the pluging for a side menu that sticks to the top as i scroll up the page. All fine.

Say I have the following menu.

Menu Option 1
Menu Option 2
Menu Option 3

The active class is passed it seems as the content reaches the top part of the sticky, and if the content in each option is long enough I will get to the next section and switch the active class.

The issue is, lets assume

[2021-01-06 11:47] #337 closed

[2021-01-06 11:48] willslater commented on #337
I mixed up plugins, I was meant to post on react-scroll !!

[2021-02-02 07:47] Seventysevendays commented on #321
same issue

[2021-02-16 13:35] didrip opened #358 "Scroll on container other than body but still full page/window/viewport"
According to issue #26 react-stickynode does not work if scrollable container is not `<body />`.

_hankhsiao commented on Jul 6, 2016:_

I my app using NextJS which adds a div below body that cannot be removed (see https://stackoverflow.com/questions/65374790/can-you-modify-nextjs-mount-element-or-add-classes-to-next-div)>

I am still scrolling the full page / viewport though, so there would be no

[2021-03-12 15:10] m99coder opened #383 "Scroll position restoring (e.g. by Gatsby) after page reload doesn’t update sticky position property"
First things first: Thanks for this wonderful plugin 👍

I’m using the plugin in a Gatsby project. Gatsby automatically restores scroll positions after a reload, but Sticky doesn’t recognize this initial change. Only after I scroll again it updates itself.

[2021-03-31 05:43] 7iomka commented on #383
Same issue :(

[2021-04-06 17:16] m99coder commented on #383
@7iomka your workaround actually doesn’t work for me, sadly. I tried `useRef` for the `Sticky` element and calling `reset()` a/o `update()` on it. But none of these work. I assume that the internal state is not reflecting reality but blocking an update – even the manual one.

[2021-04-07 04:30] 7iomka commented on #383
I agree with you..is bad :(
It broke scroll position after reload.

[2021-04-09 10:07] m99coder commented on #383
In the meantime, I did some further research. Exactly these lines (https://github.com/yahoo/react-stickynode/blob/master/src/Sticky.jsx#L175-L182) avoid restoring the state of the sticky element. When I remove every occurrence of `skipNextScrollEvent` it works for the browser back scroll restoration use case.

Nevertheless, it still doesn’t work for the manual reload from a scrolled position thoug

[2021-06-03 03:44] jacktator commented on #118
Hi @kchupakhin , we're facing exact same issue. Did you find a solution for this problem?

[2021-06-08 14:44] luluhoc commented on #275
bump

[2021-06-13 17:13] redonkulus commented on #275
@kaisian97 @luluhoc please feel free to open a PR with this change so we can review it. Thanks!

[2021-06-14 20:51] jbthn commented on #275
I can open a PR for this @redonkulus. I don't see a CONTRIBUTING.md, but let me know if there's anything specific I should include. It looks like I'm supposed to put this text

in my PR... is that saying I've gotten an okay from a repo maintainer, or is that just saying that the changes are my own?

[2021-06-14 21:26] redonkulus commented on #275
just follow existing coding style and add a passing test for new functionality.

I believe the PR template will add that text for you automatically. If it doesn’t, you can add it manually.

[2021-06-14 23:20] redonkulus commented on #275
Fixed via https://github.com/yahoo/react-stickynode/pull/461

[2021-06-14 23:20] #275 closed

[2021-06-14 23:26] redonkulus commented on #275
Released in react-stickynode@3.1.0 ... thanks for the PR @jbthn!

[2021-06-30 15:48] andrickd commented on #113
I can reproduce this issue in Safari 14.1.1 using the most current version (3.1.0 at time of writing) - this issue should be reopened.

[2021-06-30 16:21] redonkulus commented on #113
Thanks for spotting, will re-open. Feel free to open a PR to fix if you like.

[2021-07-08 10:09] AeShevch commented on #383
Same issue

[2021-07-20 14:43] JohnRubado commented on #321
same issue as well

[2021-08-04 22:35] redonkulus commented on #383
fixed by https://github.com/yahoo/react-stickynode/pull/409

[2021-08-04 22:35] #383 closed

[2021-08-09 14:16] LeComptoirDesPharmacies opened #550 "Sticky only when custom target is out of viewport"
Hi everyone,

**Context :**
We have a header on two rows :
First => Menu
Second => Search bar

"Search bar" (Second row) should always be sticky but "Menu" (First row) should only be sticky if user scroll back some pixels.
We successfully hide/display the "Menu" (First row) according to scroll back status.

However, we would like the full header to become sticky only when "Search bar" (Second row)

[2021-08-11 09:29] LeComptoirDesPharmacies opened #551 "Can not import library in codepen"
Hi everyone,

I would like to create an issue with a codepen but as soon as I add import to "react-stickynode" in a codepen, it broke the compilation.
Is there any workaround to get "Sticky" working in a codepen ?

Ex : https://codesandbox.io/s/adoring-meninsky-jz2jz?file=/src/App.js

Yours faithfully,
LCDP

[2021-08-11 16:34] redonkulus commented on #551
Thanks for the report. So I tried your link and you are correct, it seems the import is not working properly there. I'm not sure why, if I change the `import` to old fashioned `require` then it works fine. Its either how codesandbox handles imports or that we are not publishing es modules with react-stickynode. I can fix the package to also export that to see if that helps.

[2021-08-11 19:08] redonkulus commented on #551
@LeComptoirDesPharmacies I just published v4.0.0 which also includes es modules in the package. Try that out in the codesandbox and let me know if that helps.

[2021-08-13 18:24] ogasawaraShinnosuke opened #555 "Fix the first line of horizontal scrolling and fix the header line of vertical scrolling."
For example, with code like [sample code](https://jsfiddle.net/2hjwy1d0/2/), in a section such as a table, you can fix the header row when scrolling horizontally. Then, when you scroll vertically, can you make the header row follow (sticky) ?

Of course, I can use `js` to get the value when the scroll position changes and control the header using `transform`, ect., but I don't want to handle self-

[2021-08-13 18:28] redonkulus commented on #555
I haven't tried this myself, you can certainly try it and see what functionality is missing

[2021-08-13 19:22] ogasawaraShinnosuke commented on #555
[code]

The `navbar and header sections` were followed by vertical scrolling. However, when scrolling horizontally, the `header sections` did not resopnd to Sticky.

[2021-09-22 02:11] strangeliu commented on #113
Still exist

[2021-10-20 16:23] fnarbona opened #700 "Large than viewport size sticky behavior affecting user experience"
I am using the sticky to wrap a vertical left nav/sidebar menu, which has two parts which add up to be larger than viewport height. With the behavior described in the readme, it will scroll down until it reaches the bottom of the sticky. My menu is two parts; the first part has a menu that as you scroll will open automatically to the respective section of the documentation you are in, and the seco

[2021-10-20 17:41] fnarbona opened #701 "Using same top and bottom boundary creates visual distortion"
If the top and bottom boundaries are the same then when you get to the bottom and want to scroll back to the top, it sticky will stay stuck to the bottom and essential scroll out of view as you return to the top. I assume it has to do with the top and bottom boundaries being the same name. The nav isn't as large as the content it scrolls with, and although it's redundant to use the same name for t

[2021-10-27 14:38] pedroassis opened #728 "Is core-js a dev dependency?"
Can we move core-js to devDependencies?

Its currently conflicting with another lib I have which also uses core-js but another version.

I believe if we move it to dev it will stop the problem.

https://github.com/yahoo/react-stickynode/issues/324

[2021-10-30 15:00] pedroassis commented on #728
@redonkulus I believe the best way would be not to rely on polyfills at all.

Use babel to transpile straight to es5, that way no compat issues could arrive.

I also noticed all of the polyfills were not directly used in your code, weird.

I'll keep using my fork for now, there core-js isn't added, it worked down to ie11 so I think I should be good.

[2021-12-19 17:31] pauloreis7 opened #808 "Change architecture for functional components"
The current project is using react components written in class form, which is already outdated and it is no longer advisable to write components this way. You can see more about it  [in this link](https://javascript.plainenglish.io/why-you-should-stop-using-class-components-in-react-and-switch-to-functional-components-with-hooks-e2c33ae098ce).

Changing components written in class to function form

[2021-12-22 11:42] AmmadKhanM commented on #321
Same Issue

[2021-12-22 11:48] AmmadKhanM commented on #113
still Exist

[2021-12-28 21:08] redonkulus commented on #808
@pauloreis7 Thank you for opening the discussion. I agree that the code base should be modernized and optimized. Is this something you would want to contribute to?

[2022-01-28 11:42] ericmaicon commented on #113
still Exist

[2022-03-01 04:01] bigbigDreamer commented on #808
I'd love to try this.

[2022-03-01 04:02] bigbigDreamer commented on #808
Can I use TS + React hooks?

[2022-03-01 06:37] redonkulus commented on #808
Sure TS and hooks are a good foundation. Just ensure all existing tests pass as you refactor.

[2022-03-01 08:52] bigbigDreamer commented on #808
ok, probably today i'll get start.

[2022-03-16 14:43] zourdyzou opened #884 "feature-request: add width screen observer to automatically turn off the sticky effect"
if width reached the mobile/tablet viewport the sticky effect would immediately be turned off. we could pass as an option if they want the sticky effect is not to exist in the mobile viewport.

I will file a PR in regard to this.

[2022-05-13 05:22] jeardoh opened #893 "Incompatible with react v18"

[2022-05-18 22:47] redonkulus commented on #893
https://github.com/yahoo/react-stickynode/pull/889

[2022-05-19 14:14] jeardoh commented on #893
Sorry for the late notice, Already fix the dependecy issue.

Thank you

On Thu, May 19, 2022, 6:47 AM Seth Bertalotto, ***@***.***>
wrote:

[2022-06-29 22:02] AnthonyCrowcroft commented on #47
was there ever a good solution for this with modern designs starting to have fixed bars on the bottom for mobile designs is becoming more and more common

[2022-07-13 12:40] dnsnx commented on #893
Any updates on this issue. We would really appreciate the fix. Many thanks in advance!

[2022-07-15 15:54] #893 closed

[2022-07-15 16:02] redonkulus opened #897 "Fix react 18 failing test"
During React 18 testing [one unit test was not passing](https://github.com/yahoo/react-stickynode/blob/master/tests/unit/Sticky.test.js#L463), further debugging is required. The package was published to unblock users from upgrading to React 18. This bug could break your application!

Issue when running the test:

[code]